WCY18II1S1_kedzierski_klient/web/WEB-INF/wsdl/localhost_8080/Emotki/Emotki.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://emotki/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://emotki/" name="Emotki">
<types>
<xsd:schema>
<xsd:import namespace="http://emotki/" schemaLocation="http://localhost:8080/Emotki/Emotki?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteFile">
<part name="parameters" element="tns:deleteFile"/>
</message>
<message name="deleteFileResponse">
<part name="parameters" element="tns:deleteFileResponse"/>
</message>
<message name="getFiles">
<part name="parameters" element="tns:getFiles"/>
</message>
<message name="getFilesResponse">
<part name="parameters" element="tns:getFilesResponse"/>
</message>
<message name="getFileInfo">
<part name="parameters" element="tns:getFileInfo"/>
</message>
<message name="getFileInfoResponse">
<part name="parameters" element="tns:getFileInfoResponse"/>
</message>
<message name="postFile">
<part name="parameters" element="tns:postFile"/>
</message>
<message name="postFileResponse">
<part name="parameters" element="tns:postFileResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getIDs">
<part name="parameters" element="tns:getIDs"/>
</message>
<message name="getIDsResponse">
<part name="parameters" element="tns:getIDsResponse"/>
</message>
<portType name="Emotki">
<operation name="deleteFile">
<input wsam:Action="http://emotki/Emotki/deleteFileRequest" message="tns:deleteFile"/>
<output wsam:Action="http://emotki/Emotki/deleteFileResponse" message="tns:deleteFileResponse"/>
</operation>
<operation name="getFiles">
<input wsam:Action="http://emotki/Emotki/getFilesRequest" message="tns:getFiles"/>
<output wsam:Action="http://emotki/Emotki/getFilesResponse" message="tns:getFilesResponse"/>
</operation>
<operation name="getFileInfo">
<input wsam:Action="http://emotki/Emotki/getFileInfoRequest" message="tns:getFileInfo"/>
<output wsam:Action="http://emotki/Emotki/getFileInfoResponse" message="tns:getFileInfoResponse"/>
</operation>
<operation name="postFile">
<input wsam:Action="http://emotki/Emotki/postFileRequest" message="tns:postFile"/>
<output wsam:Action="http://emotki/Emotki/postFileResponse" message="tns:postFileResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://emotki/Emotki/helloRequest" message="tns:hello"/>
<output wsam:Action="http://emotki/Emotki/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getIDs">
<input wsam:Action="http://emotki/Emotki/getIDsRequest" message="tns:getIDs"/>
<output wsam:Action="http://emotki/Emotki/getIDsResponse" message="tns:getIDsResponse"/>
</operation>
</portType>
<binding name="EmotkiPortBinding" type="tns:Emotki">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Emotki">
<port name="EmotkiPort" binding="tns:EmotkiPortBinding">
<soap:address location="http://localhost:8080/Emotki/Emotki"/>
</port>
</service>
</definitions>